@css {
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
}

@import '~@src/stylus/reset'

body, html
    box-sizing border-box
    font-family 'Quicksand', sans-serif
    font-size 14px
    line-height 18px
    color #333f52
	font-weight 500
	height 100%
	width 100%

.container
	display flex
	flex-direction column
	width 100vw
	height 100vh
	background-color #EFEFEF
	align-items center
	flex-grow 1
	user-select none
	cursor crosshair
